@{
    ViewBag.Title = "Confirm Email";
}


<div class="container">
    <div class="card">
        <div class="card-header">Bedankt voor het bevestigen van uw email</div>
        <div class="card-body bg-dark">
            <div class="witteRuimte form-group">
                <p>
                    Bedankt voor het bevestigen van uw email. @Html.ActionLink("Klik hier om terug naar het startscherm te gaan", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>
