@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container">
    <div class="card">
        <div class="card-header">Bekijk uw email</div>
        <div class="card-body bg-dark">
            <div class="witteRuimte form-group">
                <p>
                    Volg de instructies in uw mail om uw wachtwoord te veranderen.
                </p>
            </div>
        </div>
    </div>
</div>


