@{
    ViewBag.Title = "Reset password confirmation";
}



<div class="container">
    <div class="card">
        <div class="card-header">Gelukt!</div>
        <div class="card-body bg-dark">
            <div class="witteRuimte form-group">
                <p>
                    Uw wachtwoord is veranderd. @Html.ActionLink("Klik hier om u terug aan te melden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>
