<div class="card card-login mx-auto mb-5 mt-5">
    <div class="card-body">
        <h1>Fout: Je bent niet geauthorizeerd voor deze request</h1>
        <div>
            <h3>Je bent geen admin voor @ViewBag.Deelplatform</h3>
        </div>
        
    </div>
</div>
