@model IList<Domain.Element>

@{
    ViewBag.Title = "_LijnGrafiekPartial";
}
<!-- Example Bar Chart Card-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-bar-chart"></i> Line Chart Example
    </div>
    <div class="card-body">
        <canvas class="MyLineChart" width="100" height="50"></canvas>
    </div>
    <div class="card-footer small text-muted">
        <div class="float-right" style="display:inline">
            <div id="menuIcons" class="float-left" style="visibility:hidden">
                <button id="iconEdit" class="btn btn-default" data-toggle="modal" data-target="#EditModal1"><i class="fa fa-edit"></i></button>
                <button id="iconDashboard" class="btn btn-default" data-toggle="modal" data-target="#DashboardModal1"><i class="fa fa-save"></i></button>
                <button id="iconAlert" class="btn btn-default" data-toggle="modal" data-target="#AlertModal1"><i class="fa fa-bell"></i></button>
                <button id="iconVolgen" class="btn btn-default" onclick="volgenFunction()"><i class="fa fa-heart"></i></button>
                <button id="iconVerwijder" class="btn btn-danger" data-toggle="modal" data-target="#VerwijderModal1"><i class="fa fa-close"></i></button>

            </div>
            <button class="btn btn-default" style="margin-left:3px" onclick="menuFunction()"><i id="menu" class="fa fa-bars"></i></button>
        </div>
    </div>
</div>

<div class="modal fade" id="VerwijderModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bent u zeker dat u de grafiek wil verwijderen?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="align-self:center">
                <button class="btn btn-default" type="button" data-dismiss="modal">Annuleer</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="@*verwijderGrafiek*@">Verwijder</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AlertModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alert instellen</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="align-self:center">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Annuleer</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="@*MaakAlert*@">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DashboardModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Grafiek opslaan op je dashboard</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="align-self:center">
                <label for="zones">Kies je zone op het dashboard</label>
                <select id="zones" class="form-control" style="position:static">
                    <option>Test</option>
                </select>
                <br>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Annuleer</button>
                <button id="saveGrafiek" type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Grafiek bewerken</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="align-self:center">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Annuleer</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="@*bewerkGrafiek*@">Bewerk</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
     $(document).ready(function () {
         $("#iconDashboard").click(function () {
             //alert("json");
                var f = {};
                f.url = '@Url.Action("getZonesJson", "Home")';
                f.type = "POST";
                f.dataType = "json";
                f.contentType = "application/json";
                f.success = function (response) {
                    //alert("succes json");
                    setZoneLijstFunction(response);
                };
                //f.error = function (response) {
                //    alert("failed");
                //};
                $.ajax(f);
          });
       });
    </script>
    <script type="text/javascript">
     $(document).ready(function () {
         $("#saveGrafiek").click(function () {
             //alert("json");
             var select = document.getElementById("zones");
             var zone = select.options[select.selectedIndex].value;
                var f = {};
                f.url = '@Url.Action("dashboardGrafiek", "Home")';
                f.type = "POST";
                f.dataType = "json";
                f.data = JSON.stringify({ zone: zone });
                f.contentType = "application/json";
                f.success = function (response) {
                    alert("grafiek opgeslagen");
                };
                //f.error = function (response) {
                //    alert("failed");
                //};
                $.ajax(f);
          });
       });
    </script>
}
<script>
    var menuOpen = false;
    function menuFunction() {
        var menu = document.getElementById("menu")
        if (menuOpen == false) {
            menu.style.transform = "rotate(50deg)";
            document.getElementById("menuIcons").style.visibility = 'visible';
            menuOpen = true;
        } else {
            menu.style.transform = "none"
            document.getElementById("menuIcons").style.visibility = "hidden";
            menuOpen = false;
        };
    }
    var volgenDown = false;
    function volgenFunction() {
        var volgen = document.getElementById("iconVolgen");
        if (volgenDown == false) {
            volgen.setAttribute("class", "btn btn-secondary");
            volgenDown = true;
        } else {
            volgen.setAttribute("class", "btn btn-default");
            volgenDown = false;
        };
    }

    function setZoneLijstFunction(response) {
        var select = document.getElementById("zones");
        select.innerHTML = "";
        for (i = 0; i < response.length; i++) {
            var option = document.createElement("option");
            var a = document.createElement("a");
            var link = "filterElement(\"" + response[i] + "\")";
            option.innerHTML = response[i];
            option.setAttribute("value", response[i]);
            select.appendChild(option);
        };
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var namen = [];
    namen = @Html.Raw(Json.Encode(ViewBag.Namen));
    var trends = [];
    trends = @Html.Raw(Json.Encode(ViewBag.Trending));
    var ctx = document.getElementsByClassName("MyLineChart")[@ViewBag.Index];
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: namen,
                    datasets: [{
                        label: "Sessions",
                        lineTension: 0.3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 20,
                        pointBorderWidth: 2,
                        data: trends,
                    }],
                },
                options: {
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                maxTicksLimit: 7
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 1000,
                                maxTicksLimit: 5
                            },
                            gridLines: {
                                color: "rgba(0, 0, 0, .125)",
                            }
                        }],
                    },
                    legend: {
                        display: false
                    }
                }
            });
    }, false);
</script>
