@{
    ViewBag.Title = "CreateUser";
}



<div class="container">
    <div class="card">
        <div class="card-header">Maak een gebruiker aan</div>
        <div class="card-body bg-dark">
            <div class="witteRuimte form-group">
                @Html.ActionLink("Back to list", "LijstUsers")
            </div>
            <div class="witteRuimte form-group">
                @using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
    {
            @Html.AntiForgeryToken()

            <label class="control-label">
                Naam
            </label>
            <input type="text" name="txtNaam" class="form-control" />

            <label class="control-label">
                Email
            </label>
            <input type="text" name="txtEmail" class="form-control" />

            <label class="control-label">
                Password
            </label>
            <input type="text" name="txtPassword" class="form-control" />
            <br/>
            <button type="submit" value="Submit" class="btn btn-default">Save</button>
}
            </div>
            
        </div>
    </div>
</div>


