
@{
    ViewBag.Title = "Index";
}
<div style="margin:20px">
    <h2>Index</h2>
    <ul>
        <li>@Html.ActionLink("Beheer gebruikers", "LijstUsers", "Admin")</li>
        <li>@Html.ActionLink("Beheer personen", "LijstPersonen", "Admin")</li>
        <li>@Html.ActionLink("Beheer thema's", "LijstThemas", "Admin")</li>
        <li>@Html.ActionLink("Beheer organisaties", "LijstOrganisaties", "Admin")</li>
    </ul>
    </div>

