
@{
    ViewBag.Title = "Index";
}



<div class="container">
    <div class="card ">
        <div class="card-header">Admin functies</div>
        <div class="card-body bg-dark">
            <div class="witteRuimte">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item btn">
                        <i class="fa fa-fw fas fa-users"></i>
                        @Html.ActionLink("Beheer gebruikers", "LijstUsers", "Admin")
                    </li>
                    <li class="nav-item btn">
                        <i class="fa fa-fw fal fa-user"></i>
                        @Html.ActionLink("Beheer personen", "LijstPersonen", "Admin")
                    </li>
                    <li class="nav-item btn">
                        <i class="fa fa-fw fal fa-book"></i>
                        @Html.ActionLink("Beheer thema's", "LijstThemas", "Admin")
                    </li>
                    <li class="nav-item btn">
                        <i class="fa fa-fw far fa-circle"></i>
                        @Html.ActionLink("Beheer organisaties", "LijstOrganisaties", "Admin")
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>





