@model Domain.Dashboards.Item

@{
    ViewBag.Title = "_ItemPartial";
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-bar-chart"></i> @Model.Tittel
    </div>
    <div class="card-body">
        <canvas class="Item">
            @if (Model.GetType().Equals(typeof(Domain.Dashboards.Grafiek)))
            {
                @Html.Action("GrafiekPartial", "Dashboard", Model.Id)
            }
        </canvas>
    </div>
</div>
