@model Domain.Dashboards.Item

@{
    ViewBag.Title = "_ItemPartial";
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-bar-chart"></i> @Model.Tittel
    </div>
    <div class="card-body">
        <canvas class="Item"></canvas>
    </div>
</div>
