@model IEnumerable<Domain.Dashboards.Item>
@{
    ViewBag.Title = "_ItemsPartial";
}

<div class="row">
    @foreach (var item in Model)
    {
        @Html.Action("Item_Partial", "Dashboard", item)
    }
</div>


