@model IList<Domain.Element>

@{
    ViewBag.Title = "_BarGrafiekPartial";
 }
        <!-- Example Bar Chart Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-bar-chart"></i> Bar Chart Example
            </div>
            <div class="card-body">
                <canvas class="MyBarChart" width="100" height="50"></canvas>
                <button onclick="makeGraph()">Laad grafiek</button>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

@foreach
                                (var element in
                                Model)
{
    <li class="trend" hidden="hidden">@element.Trend</li>
    <li class="naam" hidden="hidden">@element.Naam</li> <br />
}


<script>
    var index = 0;
    function makeGraph() {
        var trends1 = document.getElementsByClassName("trend");
        var namen1 = document.getElementsByClassName("naam");
        var trends2 = [];
        var namen2 = [];
        for (var i = 0; i < trends1.length / document.getElementsByClassName("MyBarChart").length; i++) {
            var getal = 0.5;
            getal = parseFloat(trends1[i].innerHTML.replace(",", "."));
            trends2.push(getal);
            namen2.push(namen1[i].innerHTML)
        }
        var ctx = document.getElementsByClassName("MyBarChart")[index];
        index = index + 1;
        var myLineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: namen2,
                datasets: [{
                    label: "Trending",
                    backgroundColor: "rgba(2,117,216,1)",
                    borderColor: "rgba(2,117,216,1)",
                    data: trends2,
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'month'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 6
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 1,
                            maxTicksLimit: 10
                        },
                        gridLines: {
                            display: true
                        }
                    }],
                },
                legend: {
                    display: true
                }
            }
        });
    }
</script>

