@model  IEnumerable<Domain.Dashboards.Zone>
@{
    ViewBag.Title = "Dashboard";
}

<h2>_Dashboard</h2>
<div id="dashboard">
    @* @if (Request.IsAuthenticated)
        {*@
    <ul id="tabs">

        @foreach (var item in Model)
        {
        <li> @Html.EditorFor(modelItem => item.Naam, new { htmlAttributes = new { @class = "form-control" } })
             @Html.ValidationMessageFor(modelItem => item.Naam, "", new { @class = "text-danger" })
        </li>
        }
        <li>@Html.ActionLink(" ", "AddZone", null, new { @class = "newtab" })</li>
    </ul>
    @*}
        else
        {*@
    <div>Standaard</div>

    }

</div>
