@model IEnumerable<Domain.Dashboards.Item>
@{
    ViewBag.Title = "_ItemsPartial";
}

<h2>_ItemsPartial</h2>
<ul>
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="card mb-3" style="margin:20px">
                <div class="card-header">
                    @Html.DisplayFor(modelItem => item.Id)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(modelItem => item.Id)
                </div>
            </div>

        }
        </div>
</ul>

