@model List<Domain.Organisatie>
@{
    ViewBag.Title = "_OrganisatieDropDown";
}

<ul class="sidenav-second-level collapse" id="collapsePartijen">
    @foreach (var organisatie in Model)
    {
        <li>

            <a href="@Url.Action("Organisatie",new { naam = organisatie.Naam })">
                @Html.DisplayFor(modelItem => organisatie.Naam)
            </a>
        </li>
    }
</ul>
