@model IList<Domain.Element>

@{
    ViewBag.Title = "_TaartGrafiekPartial";
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-bar-chart"></i> Pie Chart Example
    </div>
    <div class="card-body">
        <canvas class="MyPieChart" width="100" height="50"></canvas>
    </div>
    <div class="card-footer small text-muted">
        <div class="float-right" style="display:inline">
            <div id="menuIcons" class="float-left" style="visibility:hidden">
                <button class="btn btn-default"><i class="fa fa-edit"></i></button>
                <button class="btn btn-default"><i class="fa fa-save"></i></button>
                <button class="btn btn-default"><i class="fa fa-bell"></i></button>
            </div>
            <button class="btn btn-default" style="margin-left:3px" onclick="menuFunction()"><i id="menu" class="fa fa-bars"></i></button>
        </div>
    </div>
</div>
<script>
    var open = false;
    function menuFunction() {
        var menu = document.getElementById("menu")
        if (open == false) {
            menu.className = "fa fa-close";
            document.getElementById("menuIcons").style.visibility = 'visible';
            open = true;
        } else {
            menu.className = "fa fa-bars";
            document.getElementById("menuIcons").style.visibility = "hidden";
            open = false;
        }
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    var namen = [];
    namen = @Html.Raw(Json.Encode(ViewBag.Namen));
    var trends = [];
    trends = @Html.Raw(Json.Encode(ViewBag.Trending));
    var ctx = document.getElementsByClassName("MyPieChart")[@ViewBag.Index];
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: namen,
            datasets: [{
                data: trends,
                backgroundColor: ['#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6',
                    '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
                    '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A',
                    '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
                    '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC',
                    '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
                    '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680',
                    '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
                    '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3',
                    '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'],
            }],
        },
    });
    }, false);
</script>