@model List<Domain.Thema>
@{
    ViewBag.Title = "_ThemaDropDown";
}

<ul class="sidenav-second-level collapse" id="collapseThemas">
    @foreach (var thema in Model)
    {
        <li>

            <a href="@Url.Action("Thema",new { naam = thema.Naam })">
                @Html.DisplayFor(modelItem => thema.Naam)
            </a>
        </li>
    }
</ul>


