<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Element</title>
    <link href="~/Content/Element.css" rel="stylesheet" />
</head>
<body>
    <header>
        <form>
            <input type="text" name="Searchbar">
            <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png" alt="Zoek-Icon" class="icon" />
        </form>
        <div>
            <img src="http://cdn.onlinewebfonts.com/svg/img_311846.png" alt="Login-Icon" class="icon" />
            <button>Inloggen</button>
        </div>
    </header>
    <div>
        <button>Filter</button>
    </div>
    <div id="nav">
        <ul>
            <li class="inline"><a href=”#”>NewTab</a></li>
            <li class="inline"><a href=”#”>Page 1</a></li>
            <li class="inline"><a href=”#”>Page 2</a></li>
            <li class="inline"><a href="#"><img src="http://icons.iconarchive.com/icons/icons8/android/256/Very-Basic-Plus-icon.png" alt="Plus-Icon" class="icon" /></a></li>
        </ul>
    </div>
    <div>
        <img id="foto" src="http://www.knack.be/medias/282/144517.jpg" alt="foto" />
        <h1>Bart de Wever</h1>
        <img id="logo" src="https://english.n-va.be/sites/international.n-va.be/files/generated/files/page-attachment/n-va_logo.jpg" alt="logo" />
        <a href="http//:"></a>
    </div>
    <div>

    </div>
</body>
</html>
