<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="~/Content/Home.css" rel="stylesheet" />
</head>
<body>

    <header>
        <form>
            <input type="text" name="Searchbar">
            <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png" alt="Zoek-Icon" class="icon" />
        </form>
        <div>
            <img src="http://cdn.onlinewebfonts.com/svg/img_311846.png" alt="Login-Icon" class="icon" />
            <button>Inloggen</button>
        </div>
    </header>
    <div>
        <button>Filter</button>
    </div>
    @Html.Partial("_DashboardPartial")
    <div class="inline">
        <img src="http://users.telenet.be/excelleren/images/Grafieken/Grafieken1.jpg" alt="Grafiek1" class="graph" />
        <a href="#"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-256.png" alt="Menu-Icon" class="icon" /></a>
    </div>
    <div class="inline">
        <img src="https://informaticalessen.be/wp-content/uploads/2017/01/Oefening-Excel-of-Spreadsheets-Lijndiagram-of-lijngrafiek.png" alt="Grafiek2" class="graph" />
        <a href="#"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-256.png" alt="Menu-Icon" class="icon" /></a>
    </div>
    <div class="inline">
        <img src="https://www.toll-net.be/h5p/wp-content/uploads/h5p/content/145/images/file-58c80a79e3b43.png" alt="Grafiek2" class="graph" />
        <a href="#"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-256.png" alt="Menu-Icon" class="icon" /></a>
    </div>
    <div>
        <a href="#"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-256.png" alt="Menu-Icon" class="icon" /></a>
    </div>
</body>
</html>