@model Domain.Organisatie
@{
    ViewBag.Title = "Organisatie";
}

<h2>Organisatie</h2>
<div>
    @Html.DisplayFor(model => model.Naam)
    @*<img src="@Url.Action("setImage", new {twitter = Model.Twitter })"/>*@
    @*<a href="@Url.Action("setTwitter", new { twitter = Model.Twitter })">Twitter: @Html.DisplayFor(model => model.Twitter)</a>*@
</div>
<div>
    Items
</div>

