@model Domain.Persoon
@{
    ViewBag.Title = "Persoon";
}

<h2>Persoon</h2>
<div>
    @Html.DisplayFor(model => model.Naam)
</div>
<div>
    @*@Html.Action("setOrganisatie",new { organisatie = Model.Organisatie})*@
</div>
<div>
    <img src="@Url.Action("setImage", new {twitter = Model.Twitter })" />
    </div><div>
    <a href="@Url.Action("setTwitter", new { twitter = Model.Twitter })" target="_blank">Twitter: @Html.DisplayFor(model => model.Twitter)</a>

</div>
<div>

</div>
