<p id="demo">A Paragraph</p>
<h3>@ViewBag.Namen[0]</h3>
<h3>@ViewBag.Ids[0]</h3>
<button type="button" onclick="test()">klik</button>
<p id="test">jesse</p>

<script>
   function test() {
        document.getElementById("test").innerHTML = "test";
    }
</script>