@model IEnumerable<Domain.Dashboards.Grafiek>
@{
    ViewBag.Title = "_ItemsPartial";
}

<div class="row">
    @foreach (var grafiek in Model)
    {
        @Html.Action("_ItemPartial", new { grafiekType = grafiek.GrafiekType, index = grafiek.Id, page = "dashboard" ,filters = grafiek.Dataconfigs, dataType = grafiek.DataType })
    }
    <div class="card mb-3"><div class="card-body">test</div></div>

</div>

