
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Create User", "CreateUser", "SuperAdmin")</li>
    <li>@Html.ActionLink("Create Role", "CreateRole", "SuperAdmin")</li>
    <li>@Html.ActionLink("Assign Role", "AssignRole", "SuperAdmin")</li>
</ul>

