@{
    ViewBag.Title = "Timer";
}
<div class="container">
    <div class="card ">
        <div class="card-header">Een timer instellen</div>
        <div class="card-body bg-dark">
            <div class="witteRuimte">
                <h4>Timer</h4>
                <hr />
                @using (Html.BeginForm("AssingRefreshRate", "SuperAdmin", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-4">
                        <label class="control-label">
                            Stel de timer in (seconden):
                        </label>
                        <input type="number" name="txtTimer" class="form-control" />
                        <br />
                        <button type="submit" value="Submit" class="btn btn-primary">Save</button>

                    </div>

                }
            </div>
        </div>
    </div>
</div>